:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  

}


@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

/* <uniquifier>: Use a unique and descriptive class name*/
/* <weight>: Use a value from 400 to 700*/


*{
  background-color: #000;
  font-family: "Afacad";
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  
}

img {
  vertical-align: middle;
  border-style: none;
}

.sub_page {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: none; /* Para Safari */
  text-size-adjust: none; /* Para todos los demás navegadores */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
}





a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}


a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}





h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}



.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
}

.sub_page {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #000;
}

.row {
  display: -ms-flexbox; /* Para versiones antiguas de IE */
  display: flex; /* Para todos los demás navegadores */
  -ms-flex-wrap: wrap; /* Para versiones antiguas de IE */
  flex-wrap: wrap; /* Para todos los demás navegadores */
  margin-right: -15px;
  margin-left: -15px;
}

.sub_page {
  font-family: "Afacad";
  color: #fff;
  background-color: #000;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading {
  color: #fff;
}

/*header section*/
.hero_area {
  height: 98vh;
  position: relative;
}

.hero_area::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: #023b48;
}

.sub_page .hero_area {
  height: auto;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  background-color: #f6f8f7;
  padding-top: 15px;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.header_section .quote_btn-container a {
  color: #434242;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #434242;
  text-align: center;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #fafcfd;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-brand img {
  width: 30px;
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #191919;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

/*end header section*/
/* slider section */
.slider_section {
  background-image: url(../images/hero.jpg);
  padding: 6% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_detail-box h1 {
  color: #fff;
  font-size: 52px;
}

.slider_detail-box h1 span {
  display: inline-block;
  color: #fff;
  font-weight: bold;
}

.slider_detail-box p {
  color: #f6f8f7;
  margin-top: 45px;
  margin-bottom: 40px;
}

.slider_detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 45px;
  background-color: #023b48;
  border: 1px solid #023b48;
  color: #ffffff;
  margin-right: 10px;
}

.slider_detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  color: #023b48;
}

.slider_detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #023b48;
}

.slider_detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  color: #ffffff;
}

.slider_img-box {
  margin-right: 5%;
}

.slider_img-box img {
  width: 100%;
}

.carousel-indicators {
  bottom: -15%;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #010106;
}

.about_section {
  background-image: url(../images/about-bg.png);
  background-size: cover;

}

.about_section .row {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;

}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin: 25px 0;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF9933;
  border: 1px solid #FF9933;
  color: #ffffff;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #9900FF;
}

.service_section .row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.service_section .img_box {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background-color: #18d3ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service_section .img_box img {
  width: 45px;
}

.service_section .detail_box {
  margin-top: 25px;
}

.service_section .detail_box h6 {
  font-weight: bold;
}

.service_section a {
  display: inline-block;
  padding: 12px 25px;
  background-color: #023b48;
  border: 1px solid #023b48;
  color: #ffffff;
}

.service_section a:hover {
  background-color: transparent;
  color: #023b48;
}

.gallery-section {
  background-color: #0dc3ff;
}

.gallery-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.gallery-section .container h2 {
  color: #fff;
}

.gallery-section .img_box {
  margin: 15px 0;
}

.gallery-section .img_box img {
  width: 100%;
  height: 100%;
}

.gallery-section .img_box.box-1 {
  width: 28%;
}

.gallery-section .img_box.box-2 {
  width: 70%;
}

.gallery-section .img_box.box-3 {
  width: 32%;
}

.gallery-section .img_box.box-4 {
  width: 32%;
}

.gallery-section .img_box.box-5 {
  width: 32%;
}

.buy_section {
  text-align: center;
}

.buy_section p {
  margin: 25px 0;
}

.buy_section a {
  display: inline-block;
  padding: 12px 65px;
  background-color: #023b48;
  border: 1px solid #023b48;
  color: #ffffff;
}

.buy_section a:hover {
  background-color: transparent;
  color: #023b48;
}

.client_section .pl-100 {
  padding-left: 100px;
}

.client_section .client_container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border: 1px solid #606060;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.client_section .client_container .img_box {
  width: 200px;
  margin-left: -100px;
}

.client_section .client_container .img_box img {
  min-width: 100%;
}

.client_section .client_container .detail_box {
  padding: 0 35px;
}

.client_section .carousel-indicators li {
  background-color: #0dc3ff;
}

.client_section .carousel-indicators .active {
  background-color: #8c8a8a;
}

.map_section {
  position: relative;
}

.map_section #map {
  position: absolute;
}

.map_section .form_container {
  position: relative;
  width: 50%;
  z-index: 9;
}

.map_section .form_container form {
  background-color: rgba(255, 255, 255, 0.98);
  padding: 45px;
  margin: 75px 0;
}

.map_section .form_container input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #111111;
  padding-top: 35px;
  width: 100%;
}

.map_section .form_container input.message-box {
  padding-top: 55px;
}

.map_section .form_container button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #023b48;
  border: 1px solid #023b48;
  color: #ffffff;
  border-radius: 30px;
  width: 100%;
  margin-top: 35px;
}

.map_section .form_container button:hover {
  background-color: transparent;
  color: #023b48;
}

.info_section {
  background-color: #0dc3ff;
}

.info_items {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_items .item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info_items .item .img-box {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.info_items .item .detail-box {
  margin-top: 5px;
  color: #fff;
}

.info_items {
  position: relative;
}

.info_items a {
  position: relative;
}

.info_items .item .img-box.box-1 {
  background-image: url(../images/location-white.png);
}

.info_items .item .img-box.box-2 {
  background-image: url(../images/telephone-white.png);
}

.info_items .item .img-box.box-3 {
  background-image: url(../images/envelope-white.png);
}

/* footer section*/


.footer_section p {
  color: #292929;
  margin: 0;
  text-align: center;
}


/* end footer section*/
/*# sourceMappingURL=style.css.map */

/*  Responsive */
@media (max-width: 1120px) {
  .hero_area {
    height: auto;
  }

  .slider_section {
    padding: 50px 0;
  }

  .quote_btn-container {
    display: none;
  }

  .quote_btn-container a {
    display: none;
  }
}

@media (max-width: 992px) {
  .custom_nav-container .nav_search-btn {
    background-position: center;
  }

  .map_section .form_container form {
    width: 450px;
  }
}

@media (max-width: 768px) {
  .slider_detail-box {
    text-align: center;
  }
  .info_section .col-md-3 {
    text-align: center;
  }

  .info_section .col-md-3:not(:nth-last-child(1)) {
    margin-bottom: 35px;
  }

  .tasty_section h2 {
    font-size: 80px;
    color: #fff;
  }

  .contact_section {
    background-size: cover;
  }

  .info_items {
    flex-direction: column;
    align-items: center;
  }

  .info_items .item {
    margin: 20px 0;
  }

  .info_items::before {
    display: none;
  }

  .slider_img-box {
    margin: 25px 0 45px 0;
  }

  .carousel-indicators {
    bottom: -5%;
  }

  .col-md-6.offset-md-2 {
    margin: 40px 0;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .client_section .client_container {
    flex-direction: column;
    align-items: center;
  }

  .client_section .pl-100 {
    padding-left: 0;
  }

  .client_section .client_container .img_box {
    margin: -150px auto 25px auto;
  }

  .client_section .client_container {
    margin-top: 100px;
  }

  .gallery-section .container {
    flex-direction: column;
  }

  .gallery-section .img_box {
    width: 100% !important;
  }

  .map_section .form_container {
    width: 100%;
  }

  .map_section .form_container form {
    width: 100%;
  }

  .map_section #map {
    position: relative;
    height: 450px !important;
  }
}

@media (max-width: 480px) {
  .slider_detail-box h1 {
    font-size: 40px;
  }
}

@media (max-width: 420px) {
}

@media (max-width: 360px) {
  .btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slider_detail-box .btn-box .btn-1 {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
